@import "./styles/reset.css";
@import "./styles/builds.css";
@import "./styles/control.css";
@import "./styles/loader.css";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(232,237,233);
    font-family: 'Lato', sans-serif;
    align-items: center;
}

#root {
    transition: 0.2s ease-out;
    background-color: rgb(36,92,96);
    image-rendering: pixelated;
}

.d-none {
    display: none;
}

.v-hidden {
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.canvasWrap {
    overflow: hidden;
}
